@tailwind base;
@tailwind components;
@tailwind utilities;

/* base app styles + tailwind reset */
@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
    margin: 0;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
      Roboto, "Helvetica Neue", Arial;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
}
